
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_ServersideLayout.cshtml";
}



<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 class="m-0 text-dark">All Users</h5>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<partial name="~/Areas/Admin/Views/Shared/Partials/_UserTab.cshtml" />